.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    flex-wrap: wrap;
}

.navbar .dropdown {
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .dropdown {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .navbar .dropdown select {
        width: 100%;
    }
}
