.kanbanBoard {
    display: flex;
    justify-content: space-around;
    padding: 20px
}

.kanbanColumn {
    padding: 10px;
    margin: 0 8px;
    position: relative;
}

.noItemsMessage {
    color: #666;
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-size: 1rem;
}


.heading {
    text-align: center;
    font-size: 18px;
}

.kanbanHeadingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.groupIcons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.addIcon, .moreOptionsIcon {
    font-size: 20px;
    cursor: pointer;
    padding: 0 5px;
}

.userIconContainer {
    display: flex;
    align-items: center;
}

.userName {
    font-size: 1rem;
    font-weight: 500;
}


